
#save{
    border:none;
    padding: 10px 20px;
    width:70%;
    background-color: rgba(55, 120, 232, 0.885);
    color:white;
    font-size: 20px;
    margin:20px 0px 0px 0px;
    border-radius: 10px;
    
    }
#save:hover{
cursor:pointer;
background-color: rgba(55, 120, 232, 1.3);
}
    