
.container .item{
    position: relative;
    width:300px;
    height:400px;
    background-color: white;
    border-radius: 10px;
   border: 8px solid white;
     box-shadow: 6px 6px 8px  2px  black;
    display: flex;
    flex-flow: column wrap;
}
.formlog{
position: fixed;
top:30%;
left:38%;
z-index: 4;
display: none;
border:1px solid white;
padding:10px;
padding:10px 20px;
background-color: transparent;
backdrop-filter: blur(40px);
width:300px;
height:350px;
text-align: center;
border-radius: 20px;
} 
.formlog>input{
border: 1px solid white;
background-color: transparent;
backdrop-filter: blur(60px);
padding:15px 20px;
margin-bottom: 20px;
border-radius: 20px;
color:white;
font-size: 15px;
width:100%;
}
.formlog>::-webkit-input-placeholder{
color:white;
font-size: 15px;
}
.show{
display: block;
} 
.formlog>input:nth-of-type(3){
background-color: white;
color:black;
font-size:17px;
font-weight:bold;
padding:13px 20px;

}


.formlog>input:nth-of-type(3):hover{
cursor: pointer;
}

.heading{
padding:0px;
background-color: white;
margin-bottom: 0px;
display: flex;
align-items: center;
justify-content: space-between;
position: sticky;
z-index: 1;
top:0px;
width:100%;
border-radius: 5px ;


} 

.heading .logo{
font-size: 25px;
background-color: black;
padding: 10px 15px;
border-radius: 10px;
color:white;
}

.heading .options>button{
font-size: 17px;
padding:10px 15px;
cursor: pointer;
position: relative;
z-index: 1;
font-weight: bolder;
border-radius: 10px;

background-color: white; 
box-shadow: 2px 2px 8px black;   
}

.heading .options{
display: flex;
align-items: center;
width:40%;
justify-content: space-evenly;
}

.heading .options>button::before{
content: '';
position: absolute;
border-radius: 10px;

width:0%;
height:100%;
background-color: darkcyan;
top:0;
left:0;
z-index: -1;
transition: 0.5s;


}
