
    .container{
       display: grid;
    grid-template-columns: auto auto auto auto;
        gap:40px 25px;
        background-color: white;
    }
   
.item img{
    position: absolute;
   width:100%;
   height: 80%;
    object-fit: cover;
    border-radius: 10px;
} 


.item .price {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
  
    background-color: white;
    width:100%;
    top:83%;
    
    
}
.item .price .div1{
    background-color: rgb(228, 13, 13);
    color:white;
    border-radius: 10px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:30px;
    margin-bottom: 10px;
    font-size: 20px;

}
.item .price a{
    background-color: rgb(10, 23, 174);
    color:white;
    border-radius: 10px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:30px;
    text-decoration: none;
     font-size: 20px;
}
.categories{
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}
