*{
    box-sizing: border-box;
   }

   
   
   .account{
    width:0%;
    height: 100%;
    position: fixed;
    background-color: white;
    z-index: 2;
    transition: 0.5s;
    overflow: hidden;
   } 
   #closebtn{
    position: absolute;
    top:10px;
    left:83%;
    color:black;
    font-size: 20px;
   }
   #orhis{
    width:0%;
    position: fixed;
    height: 100%;
    background-color: white;
    z-index: 2;
    transition: 0.5s;
   background-color: transparent;
   backdrop-filter: blur(60px);
    overflow: hidden;
   
   

   }